*.iml
.gradle
/local.properties
/.idea
.DS_Store
build/
captures/
.externalNativeBuild
.cxx
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
.navigation/
*.log
*.hprof
*.png
*.jpg
*.jpeg
*.gif
*.mp3
*.wav
*.ogg
!gradle/wrapper/gradle-wrapper.jar
*-sources.jar
*-javadoc.jar
